#partner-with-you {
    width: 100%;
    margin-top: 5%;
    height: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    padding-bottom: 0em;

    background-color:#00A5E4;

    padding-top: 5%;
   padding-bottom: 4em;

    background-color: #00A5E4;

    h2 {
        font-size: 300%;
        text-align: center;
    }
    
    p {
        font-size: 200%;
        text-align: center;
        padding: 5%;
        margin: 0;
    }

    &:nth-child(1) {
        padding-bottom: 30%;
    }
}
