main {
    background-color: rgb(0, 30, 50);
    overflow: hidden;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin: 2em;

    color: white;
}


#placement-options {
    display: relative;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    padding-bottom: 10em;

    background-color:#0069B6;
    
    ul {
        list-style: none;
    }

    h2 {
        text-align: center;
        font-size: 2.5em;
        // padding-bottom: 1.5em;
    }

    p {
        line-height: 2em;
        font-size: 1.5em;
    }
}

.external-link {
    margin: 4%;
    width: 50%;
    height: 10%;
    padding: 0;

    transition: 0.5s;

    a {
        width: 100%;
    }

    img {
        display: relative;
        transition: 0.5s;
        width: 100%;
    }

    &:hover {
        width: 15%;

        img {
            top: 0;
            transform: translateY(-10%);
        }
    }
}

.job-seeker-button {
    width: 50%;
    margin: 5%;
    padding: .5%;
    text-align: center;
    background-color:#8DD8F8;
    border-color: #8DD8F8;
    a {
        text-decoration: none;
    }
    p {
        color: white;
        font-size: 1.5em;
    }
    &:hover {
        filter: brightness(90%);
        cursor: pointer;
    }
}
#job-seeker-buttons {
    display: flex;
    flex-direction: row;
    background-color:#00A5E4;
}