@import "base";


main {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    right: 0;
    z-index: $idx-main;

    background-color: rgb(77, 74, 74);
}

#stock-photo {
    display: flex;
    width: 100%;
    height: 80vh;
    padding: 0;
    margin-top: 0;

    background-image: url("resources/photos/skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 25%;
}

.quote {
    color: white;
    width: 100%;
    top: 40%;
    text-align: center;
    padding: 2%;
    margin: 0;
    
    background-color: #4A9B39;
    font-style: italic;
    letter-spacing: .2em;
    font-size: 300%;
    box-shadow: inset 0 0em 0.3em rgba(0, 0, 0, 1);

    p {
        top: 50%;
        vertical-align: middle;
    }

}

#stats {
    padding-top: 5%;
    padding-bottom: 4em;

    background-color: #8DD8F8;

    p {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 200%;
    }
}

#information {
    padding-top: 5%;
    padding-bottom: 4em;

    background-color: #00A5E4;

    h3 {
        font-size: 300%;
        text-align: center;
        padding: 0;
    }
    
    p {
        font-size: 200%;
        text-align: center;
        padding: 5%;
        margin: 0;
    }

    &:nth-child(1) {
        padding-bottom: 100%;
    }
}

.info-title {
    padding-bottom: 2%;
}

#industries {
    display: flex;
    flex-direction: row;
    text-align: center;

    background-color: #0069B6;
    
    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;

        li {
            flex: 1;
            align-self: center;
        }
    }
}

.industry {
    font-size: 150%;
    width: 50%;
    float: center;

    margin: 0 1%;
}