@media only screen and (max-width: 1000px) {

    main {
        top: 100%;
        width: 100%;

        overflow: hidden;
    }

    nav, .nav-bar {
        position: absolute;
        width: 100%;
    }

    #side-bar {
        width: 100%;
    }

    .nav-logo {
        width: 60%;
        position: absolute;
        
        div {
            left: 50%;
            position: relative;

            max-width: 400;

            div {
                left: -50%
            }
        }
    }

    .nav-external-links {
        top: -500%;
    }

    .nav-internal-links {
        top: 500%;
    }

    .nav-internal-link:hover {
        transform: translateX(0);

        p {
            font-size: 150%;
        }
    }

    .employee-pictures {
        flex-direction: column;

        .employee {
            margin: 2%;
        }
    }
}
