@media only screen and (max-width: 1000px) {
    main {
        top: 100%;
        width: 100%;
    }

    nav, #side-bar, .nav-bar {
        position: absolute;
        height: 30%;
        width: 100%;
    }

    #side-bar {
        width: 100%;
    }

    .nav-logo {

    }

    .nav-external-links {
        top: 100%;
    }

    .nav-internal-links {

    }

    .employee-pictures {
        flex-direction: column;

        .employee {
            margin: 2%;
        }
    }
}
