@import "base";

nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
    z-index: $idx-nav;
}

.nav-main {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: $idx-nav;

    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, rgb(0, 30, 50) 51%, rgb(0, 30, 50) 75%);
    box-shadow: -4em 1em 2em 5em rgba(0,0, 0, 0.4);
}

.nav-logo {
    position: absolute;
    padding: 10%;

    img {
        margin: 0 auto;
        width: 100%;
    }
}

#logo-technical:hover {
    cursor: pointer;
}

.nav-side {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
}

.nav-external-links {
    position: absolute;
    width: 100%;
    bottom: -2%;
    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0.5em;
        margin-left: 0;
        padding: 3% 0;;
        width: 100%;

        list-style: none;
        background-color: white;
    }
}

.nav-external-link {
    margin: 1em;
    width: 4vh;
    height: 4vh;
    padding: 0;

    transition: 0.5s;

    a {
        width: 100%;
    }

    img {
        display: relative;
        transition: 0.5s;
        width: 100%;
    }

    &:hover {
        width: 7vh;

        img {
            top: 0;
            transform: translateY(-1.5vh);
        }
    }
}

.color-filter {
    // Used to find filter to adjust color from black: https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(9%) sepia(48%) saturate(2564%) hue-rotate(177deg) brightness(94%) contrast(105%);
}

.nav-internal-links {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0%;
    width: 100%;
    height: 100%;

    text-align: center;
    background-color: #9fb8ad;

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        
        list-style: none;
        //box-shadow: 0.5em 0.5em 5em rgba(0, 0, 0, 0.8);
        
        li {
            width: 100%;
            align-content: center;
            
            background-color: #9fb8ad;
            transition: 0.25s;
            
            p {
                text-decoration: none;
                color: white;
                user-select: none;
            }
        }
    }
}

.nav-internal-link:hover {
    filter: brightness(94%);
    cursor: pointer;
}