.openings {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    font-size: 1.3em;
 
    background-color: white;

    &__opening {
        width: 80%;
        text-align: left;
        padding: 2em;
        position: relative;

        &:not(:last-child) {
            //border-bottom: solid #4A9B39 5px;

           &:before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 80%;
                height: 6px;
                z-index: 15;
                background: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
            }
        }

    }

    &__header {
        color:  rgb(0, 30, 50);
    }

    &__description {

    }

    &__location {
        color: gray;
    }

    &__pay {
        color: gray;

        &--unused {
            display: none;
        }
    }

    &__link {
        text-decoration: none;
        color: #4A9B39;
        font-weight: bold;

        padding: .5em;
        border: solid #4A9B39 3px;
        //border-radius: 2em;
        line-height: 300%;

        &:hover {
            color: rgb(170, 218, 160);
        }
    }
}

@media only screen and (max-width: 1000px) {
    .openings {

        &__link {
            right: 5em;
        }

        &__opening {
            width: 80%;
        }
    }
}