.employee-pictures {
    display: flex;
    flex-direction: row;
    margin: 3% 20% 0 20%;
}

.employee {
    position: relative;
    width: 100%;
    margin: 3%;
    
    background-color: #4A9B39;
    color: white;

    h2, p {
        font-size: 200%;

        text-align: center;
    }

    img {
        width: 100%;
        //height: 100%;
    }
}

.info-bubble {
    @include hover-bubble(invert(49%) sepia(47%) saturate(581%) hue-rotate(64deg) brightness(96%) contrast(93%), invert(33%) sepia(44%) saturate(699%) hue-rotate(63deg) brightness(95%) contrast(85%));
    width: 25%;
    right: 50%;
    top: 66%;
    z-index: $idx-nav;
    
    .bubble-image {
        position: relative;
        right: -50%;
    }

    &.active {
        animation: none;
        width: 15%;
        top: -2.5%;

        .bubble-image {
            position: relative;
            right: -50%;

            img {
                z-index: 100;
                opacity: 0.99;
        
                transform: rotate(180deg);
            }
        }
    }
}

.info-box {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 4em;
    height: 80%;

    background-image: linear-gradient(0deg, rgba(74, 156, 57, 1) 10%, 80%,  rgba(74, 156, 57, 0) 90%);
    transition: all 0.25s linear;
    opacity: 0;

    .info-text {
        display: absolute;
        padding-left: 1.25em;
        width: 100%;
        height: 30%;
        transform: translateY(200%);

        opacity: 100%;

        p {
            text-align: left;
            line-height: 1.5em;
            display: absolute;
            font-size: 1.2em;
        }

        a {
            color: white;
            text-decoration: none;
        }
        a:hover {
            color: #8DD8F8;
        }
    }

    &.active {
        z-index: 20;
        opacity: 0.99;

        .contact-info {
            z-index: 20;
            opacity: 0.99;
        }        
    }
}

@keyframes bob {
    from {
    }
    to {
        transform: translateY(-20%);
    }
}

.staff-linkedin {
    position: absolute;
    right: 50%;
    bottom: 40%;
    width: 15%;

    transition: 0.5s;
    
    .linkedin-img {
        position: relative;
        right: -50%;
    }

    img {
        width: 100%;
    }
}