@mixin hover-bubble($filter, $filter-hover) {
    position: absolute;

    filter: $filter;
    color: white;
    user-select: none;
    border-radius: 50%;
    transition: 0.5s;
    animation-name: bob;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover {
        filter: $filter-hover;
        cursor: pointer;
    }
}