body {
  margin: 0 0 0 20%;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

main {
  position: absolute;
  width: 70%;
  height: 200vh;
  right: 0;
  background-color: white;
}

.stock-photo {
  display: relative;
  width: auto;
  height: 35%;
  padding: 0;
  margin: 0;
  background-image: url("resources/photos/saint-paul-skyline.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 25%;
  -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.4);
          box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.4);
}

.quote {
  width: 100%;
  height: 10vh;
  text-align: center;
  margin: auto 0;
  background-color: white;
  font-style: italic;
  letter-spacing: .2em;
  font-size: 150%;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: center;
  width: 100;
}

.stat {
  float: center;
  width: 25%;
  text-align: center;
}

body {
  margin: 0 0 0 20%;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  z-index: 10;
}

.nav-main {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 10;
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #001e32 51%, #001e32 75%);
  -webkit-box-shadow: -4em 1em 2em 5em rgba(0, 0, 0, 0.4);
          box-shadow: -4em 1em 2em 5em rgba(0, 0, 0, 0.4);
}

.nav-logo {
  position: absolute;
  padding: 10%;
}

.nav-logo img {
  margin: 0 auto;
  width: 100%;
}

#logo-technical:hover {
  cursor: pointer;
}

.nav-side {
  position: absolute;
  width: 50%;
  right: 0;
  height: 100%;
}

.nav-external-links {
  position: absolute;
  width: 100%;
  bottom: -2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-external-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5em;
  margin-left: 0;
  padding: 3% 0;
  width: 100%;
  list-style: none;
  background-color: white;
}

.nav-external-link {
  margin: 1em;
  width: 4vh;
  height: 4vh;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-external-link a {
  width: 100%;
}

.nav-external-link img {
  display: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

.nav-external-link:hover {
  width: 7vh;
}

.nav-external-link:hover img {
  top: 0;
  -webkit-transform: translateY(-1.5vh);
          transform: translateY(-1.5vh);
}

.color-filter {
  -webkit-filter: invert(9%) sepia(48%) saturate(2564%) hue-rotate(177deg) brightness(94%) contrast(105%);
          filter: invert(9%) sepia(48%) saturate(2564%) hue-rotate(177deg) brightness(94%) contrast(105%);
}

.nav-internal-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  bottom: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #9fb8ad;
}

.nav-internal-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.nav-internal-links ul li {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #9fb8ad;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.nav-internal-links ul li p {
  text-decoration: none;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-internal-link:hover {
  -webkit-filter: brightness(94%);
          filter: brightness(94%);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */